.loginForm {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 100px  auto;
    border-radius: 32px;
    background: lightgreen;
}

.loginInput {
    width: 50%;
    font-size: 20px;
    padding: 16px;
    border-radius: 20px;
}

.loginButton {
    font-size: 20px;
    padding: 13px;
    border-radius: 20px;
    width: 30%;
}