.main_header {
    background: #90ee90;
    display: flex;
    padding: 8px;
}

.mainNav {
    width: 80%;
    margin: 4px auto;
    display: flex;
    justify-content: space-between;
}

.mainHeaderLinks {
    display: flex;
    width: 18%;
    justify-content: space-around;
}
.nav_link {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.nav_link:hover,
.nav_link:active {
    color: white;
}